.menu {
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000; 
  padding: 50px 20px;
}

.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
  color: #FFD700; 
  margin-bottom: 40px;
  text-align: center;
}

.menuList {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  align-items: start;
}


.menuItem {
  border-radius: 15px;
  width: 300px;
  height: 290px;
  box-shadow: 0px 3px 15px #FFD700;
  background-color: #000000; 
  transition: box-shadow 0.3s ease-in;
}

.menuItem:hover {
  box-shadow: 0px 3px 25px #FFD700; 
  cursor: pointer;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuItem h1,
.menuItem p {
  margin-left: 20px;
  color: #FFD700; 
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }

  .menu .menuTitle {
    font-size: 45px;
  }

  .menuItem {
    width: 90%;
    height: auto;
  }

  .menuItem div {
    height: 180px;
  }
}

@media only screen and (max-width: 480px) {
  .menu .menuTitle {
    font-size: 35px;
  }

  .menuItem div {
    height: 150px;
  }

  .menuItem h1,
  .menuItem p {
    margin-left: 15px;
  }
}
